.footer {
  /* background-color: #0c245f; */
  color: white;
  padding: 1rem 0;
  /* position: absolute; */
  transition: background-color 0.4s, color 0.4s;
}

.footer-link {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #cce3ff;
}