.journal-entry {
    display: flex;
    align-items: flex-start;
    gap: 16px;
  }

  .journal-entry img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 12px;
  }

/* Footer Theme */
.footer {
    background-color: #7b2cbf;
    color: white;
    padding: 1rem 0;
}

.footer-link {
    text-decoration: none;
    color: white;
    margin: 0 5px;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #cce3ff;
}