.bg-dark-purple {
    background-color: #1e1f3d; /* deep purple */
  }
  
  .text-light-purple {
    color: #dcd0ff !important;
  }
  
  .text-light-purple:hover {
    color: #ffffff !important;
  }
  
  .btn-purple {
    background-color: #6f48b1;
    color: #fff;
    border: none;
  }
  
  .btn-purple:hover {
    background-color: #7f5dc9;
  }
  
  .btn-outline-purple {
    border: 1px solid #b388ff;
    color: #b388ff;
    background-color: transparent;
  }
  
  .btn-outline-purple:hover {
    background-color: #b388ff;
    color: #1e1f3d;
  }
  
  .text-light-purple i {
    color: #b388ff !important; /* or use same color as text-light-purple */
  }