/* background-color: #1e2a38; or try #243447 or #2c3e50 for similar tones */

/* .body {
    background-color: #F5F5F5; or whatever color you picked
    background-color: #102ea8;
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; default text color
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

/* .logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
}

.nav-h2 {
    color: white;
    font-size: 35px;
    margin: 0;
}

.nav-link a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.nav-link a:hover {
    color: #dcdcdc;
}

.nav-link a:hover {
    color: #00bcd4;
} */
/* footer{
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
} */
footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: white;
}
footer a{
    text-decoration: none;
    margin-left: 10px;
    color: white;
}