{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center px-4 py-3 mb-3">
        <div class="d-flex align-items-center">
            <img src="{% static 'images/ChatGPT Image Apr 22, 2025, 07_31_14 PM1.png' %}" class="logo me-3" alt="Logo">
            <h2 class="nav-h2">Skill Tracker</h2>
        </div>
        <div class="nav-link d-flex gap-3">
            <a href="{% url 'signup' %}"><h5>Sign Up</h5></a>
            <a href="{% url 'login' %}"><h5>Login</h5></a>
        </div>
    </nav>
</body>
</html>