<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style></style>
    {% include 'navbar.html' %}


    <!-- Footer -->
  <footer class="text-center text-white py-4">
    &copy; 2025 Built with 💜 by Abdulquahaar |
    <a href="#" class="footer-link">Privacy</a> |
    <a href="https://github.com/oladayotech" class="footer-link">GitHub</a>
  </footer>
</body>
</html>