{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<body>
  <nav class="navbar">
    <div class="navbar-container">
      <h2 class="nav-logo">SkillTracker</h2>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </nav>
  
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <main class="login-container">
    <section class="login-box">
      <h1 class="login-title">Get Started</h1>
      <p class="login-sub">Create an account</p>
      {% if error_message %}
        <div class="error">
          <p style="color: red;">{{ error_message }}</p>
        </div>
      {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="e.g. johndoe" required>

        <label for="name">Email</label>
        <input type="email" name="email" id="email" placeholder="johndoe@gmail.com">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <label for="password">Confirm Password</label>
        <input type="password" name="password1" id="password1" required>

        <button type="submit">Sign Up</button>
        <p class="signup-prompt">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </p>
      </form>
    </section>
    <section class="login-illustration">
      <img src="{% static 'images\Login-amico.png' %}" alt="Illustration" />
    </section>
  </main>

  <footer class="footer">
    &copy; 2025 SkillTracker — Built by Abdulquahaar 💜 |
    <a href="https://github.com/oladayotech">Contact</a>
  </footer>
</body>
</html>
